header{
    background-color: #091057;
}
body{background-color: #091057;}

.white{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16;
    text-decoration: none;
    padding: 10px ;
    margin-right: 25px;
}
nav{text-align: right;}

.hero{
    background-color: #091057;
    resize: vertical;
}
h1{
    color: #F36339;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 130px;
    text-align: center;
}
.para1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    text-justify: auto;
}

.bouton{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-style: bold;
    background-color: #F36339;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}
p{
    text-align: center;
}
.section2{
    background-color: white;
}
h2{
    color:#091057;
    font-family :Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 80px;
    margin-left: 30px;
}
.image1{
    height: 100px;
}
.section3{
    background-color: white;
    margin-left: 30px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    font-size: 60px;
    color: #091057;
    float: right;
    margin-right: 100px;
}